name: email_test.yml
on:
  push:
    branches: ['*']

jobs:
  emailTest:
    runs-on: windows-latest
    steps:
      - name: Create issue on failure
        uses: actions/github-script@v7
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          script: |
            await github.rest.issues.create({
              owner: context.repo.owner,
              repo: context.repo.repo,
              title: `Test issue`,
              body: `See run: ${context.server_url}/${context.repo.owner}/${context.repo.repo}/actions/runs/${context.runId}\n@MakotoE`
            });