name: Validate Signature

on:
  push:
    branches: [ '*' ]

jobs:
  validate:
    name: Validate
    runs-on: windows-latest
    steps:
      - run: Get-AuthenticodeSignature C:\Windows\System32\notepad.exe | ConvertTo-Json